.navbar-item a {
  cursor: default;
}

#login-section {
  display: none;
  /*display: none*/
}

#chat-section {
  display: block;
  /*display: block;*/
  height: 385px;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#write-section {
  display: block;
  /*display: block;*/
  position: absolute;
  padding-top: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
